// guyner pti dnem

$color1:#E93D2D;
$color2:#DA0E41;
$color3:white;
$color4:#FEFCFD;
$color5:red;
$color6:black;
$color7:#A0A0A0;
$color8:#E3E3E3;
$color9: #CACACA;
$color10:#7D7F88;
$color11:#595959;
$color12:#CDCDCD;
$color13: #D8D8D8;
$color14: #F8A4BB;
$color15: #919191;